In [4]:
import pandas as pd
import numpy as np

# DataFrame
### Series는 가로줄에만 index가 있다면
### DataFrame은 가로줄 뿐만 아니라 세로줄에도 inedx(컬럼)가 있다

In [23]:
d=[0,1,2,3,4]
df = pd.DataFrame(d)
print(df)
print("----------")
ds = pd.Series(d)
print(ds)

   0
0  0
1  1
2  2
3  3
4  4
----------
0    0
1    1
2    2
3    3
4    4
dtype: int64

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ<br>
### column에 이름 부여
1)   df.columns=["컬럼이름"]<br>
2)   df.["컬럼이름"]=데이터

In [24]:
d=[0,1,2,3,4]
df = pd.DataFrame(d)
print(df)
print("----------")
df.columns=["column1"]
print(df)

   0
0  0
1  1
2  2
3  3
4  4
----------
   column1
0        0
1        1
2        2
3        3
4        4

In [25]:
# 컬럼 이름이 기존에 있으면 update
# 기존에 없으면 append
df["newCol"]=d
print(df)
print("----------")
df["newCol2"]=5
print(df)

   column1  newCol
0        0       0
1        1       1
2        2       2
3        3       3
4        4       4
----------
   column1  newCol  newCol2
0        0       0        5
1        1       1        5
2        2       2        5
3        3       3        5
4        4       4        5

In [26]:
df.index.name="count"
df

       column1  newCol  newCol2
count
0            0       0        5
1            1       1        5
2            2       2        5
3            3       3        5
4            4       4        5

### 예제 1
df에서 newCol3를 기존의 newCol2의 값을 기준으로 만을고, 기존의 newCol2의 모든 값을 100배 한 값을 newCol3에 생성

In [27]:
df["newCol3"]=df["newCol2"]*100
df

       column1  newCol  newCol2  newCol3
count
0            0       0        5      500
1            1       1        5      500
2            2       2        5      500
3            3       3        5      500
4            4       4        5      500

### 예제 2
df에서 newCol2에서 2번째 값을 확인(5)하고, 이 값을 2000으로 변경하기

In [28]:
df.iat[1,2]=2000
df

       column1  newCol  newCol2  newCol3
count
0            0       0        5      500
1            1       1     2000      500
2            2       2        5      500
3            3       3        5      500
4            4       4        5      500

### Column 삭제
1)  del df["칼럼이름"]<br>
2)  df.drop(칼럼이름 or index이름, axis=1 or 2)

In [29]:
del df["newCol"]
df

       column1  newCol2  newCol3
count
0            0        5      500
1            1     2000      500
2            2        5      500
3            3        5      500
4            4        5      500

In [30]:
# pandas의 함수 이용
df.drop("newCol2",axis=1)     # axis => 1:세로  ,  0:가로

       column1  newCol3
count
0            0      500
1            1      500
2            2      500
3            3      500
4            4      500

In [31]:
# df.drop()만 실행하면 실제로 지워지는것이 아님
# 업데이트를 해야 적용됨
df = df.drop("newCol2",axis=1)
df

       column1  newCol3
count
0            0      500
1            1      500
2            2      500
3            3      500
4            4      500

In [32]:
df = df.drop(3,axis=0)
df

       column1  newCol3
count
0            0      500
1            1      500
2            2      500
4            4      500

## 변수 이름 = pd.DataFrame([....], index=[....])

In [34]:
stock_price_DF_withindex = pd.DataFrame(
    [1000,10300,9900,10500,11000], 
    index=["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withindex

                0
2020-03-01   1000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

### Column 이름 변경
.rename(columns={"0":"시가"}, inplace=True)<br>
column의 이름을 dictionary형태로 바꾼다<br>
inplace=True 새로운 데이터프레임으로 적용(False이면 적용 안됨)

In [35]:
stock_price_DF_withindex.rename(columns={0:"시가"}, inplace=True)
stock_price_DF_withindex

               시가
2020-03-01   1000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [36]:
stock_price_DF_withindex.rename(columns={"시가":"시가2"}, inplace=True)
stock_price_DF_withindex

              시가2
2020-03-01   1000
2020-03-02  10300
2020-03-03   9900
2020-03-04  10500
2020-03-5   11000

In [37]:
stock_price_DF_withindex["종가"]=[11000,12000,10000,13000,12000]
stock_price_DF_withindex["고가"]=[13000,15000,15000,18000,17000]
stock_price_DF_withindex["저가"]=[3000,5000,5000,8000,7000]
stock_price_DF_withindex

              시가2     종가     고가    저가
2020-03-01   1000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [53]:
# iat는 단일 값으로 가져오므로 정확한 좌표를 입력해야 한다
stock_price_DF_withindex.iat[0,2]

13000

### 예제 3

In [105]:
stock_price_DF_withindex = pd.DataFrame(
    [10000,10300,9900,10500,11000], 
    index=["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withindex.rename(columns={0:"시가"}, inplace=True)
stock_price_DF_withindex["종가"]=[11000,12000,10000,13000,12000]
stock_price_DF_withindex["고가"]=[13000,15000,15000,18000,17000]
stock_price_DF_withindex["저가"]=[3000,5000,5000,8000,7000]
stock_price_DF_withindex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

#### 1) 2020년 3월 1일의 시가/종가를 출력해보세요
#### 2) 2020년 3월 1일에서 2020년 3월 3일의 시가/종가/고가/저가를 출력해 보세요

In [106]:
# stock_price_DF_withindex.iloc[0,0:2] 와 같음
stock_price_DF_withindex.loc["2020-03-01",["시가","종가"]]

시가    10000
종가    11000
Name: 2020-03-01, dtype: int64

In [107]:
# stock_price_DF_withindex.iloc[0:3] 와 같음
stock_price_DF_withindex.loc["2020-03-01":"2020-03-03"]

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000

### 데이터 프레임 정보

In [108]:
stock_price_DF_withindex.shape

(5, 4)

In [109]:
stock_price_DF_withindex.shape[0]   # 가로

5

In [110]:
stock_price_DF_withindex.shape[1]   # 세로

4

In [111]:
stock_price_DF_withindex.values

array([[10000, 11000, 13000,  3000],
       [10300, 12000, 15000,  5000],
       [ 9900, 10000, 15000,  5000],
       [10500, 13000, 18000,  8000],
       [11000, 12000, 17000,  7000]], dtype=int64)

### 데이터 프레임 정렬
sort_index( axis=1, ascending = True)<br>
axis => 0, 1<br>
False => True, False

sort_values(by = "컬럼이름", ascending = True)

In [112]:
# index 세로를 내림차순
stock_price_DF_withindex.sort_index(axis=1, ascending=False)

               종가    저가     시가     고가
2020-03-01  11000  3000  10000  13000
2020-03-02  12000  5000  10300  15000
2020-03-03  10000  5000   9900  15000
2020-03-04  13000  8000  10500  18000
2020-03-5   12000  7000  11000  17000

In [113]:
# index 세로를 오름차순, 가로를 내림차순
stock_price_DF_withindex.sort_index(axis=1, ascending=True).sort_index(
    axis=0, ascending=False)

               고가     시가    저가     종가
2020-03-5   17000  11000  7000  12000
2020-03-04  18000  10500  8000  13000
2020-03-03  15000   9900  5000  10000
2020-03-02  15000  10300  5000  12000
2020-03-01  13000  10000  3000  11000

In [114]:
# values에서 "고가"의 value를 내림차순, 후에 "종가" 내림차순
stock_price_DF_withindex.sort_values(by=["고가","종가"], ascending=False)

               시가     종가     고가    저가
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-01  10000  11000  13000  3000

### index의 이름과 value

In [5]:
obj=pd.Series([4.5,7.2,-5.3], index=["c","b","a"])
obj

c    4.5
b    7.2
a   -5.3
dtype: float64

In [9]:
obj2= obj.reindex(["a","b","c","d","e"])
obj2

a    -5.3
b     7.2
c    45.0
d     NaN
e     NaN
dtype: float64

In [7]:
# fill_value=0 => NaN값을 0으로 채운다
obj2= obj.reindex(["a","b","c","d","e"], fill_value=0)
obj2

a   -5.3
b    7.2
c    4.5
d    0.0
e    0.0
dtype: float64

In [10]:
obj=pd.Series([45.,7.2,-5.3], index=["c","b","a"])
obj

c    45.0
b     7.2
a    -5.3
dtype: float64

In [11]:
obj.reindex(["a","d","e","c","b"])

a    -5.3
d     NaN
e     NaN
c    45.0
b     7.2
dtype: float64

In [118]:
# .interpolate() => 연속되는 데이터중 중간에 누락된 값을 선형적으로 채워줌
obj.reindex(["a","d","e","c","b"]).interpolate()

a    -5.300000
d    11.466667
e    28.233333
c    45.000000
b     7.200000
dtype: float64

### 데이터 프레임 일괄 적용
#### apply & lambda
.apply(lambda x : 원하는 연산, axis = 1) => 각 셀<br>
.applymap(lambda x : 원하는 연산) => 줄단위

In [119]:
stock_price_DF_withindex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [121]:
stock_price_DF_withindex.apply(lambda x : x.max()-x.min(), axis=1)

2020-03-01    10000
2020-03-02    10000
2020-03-03    10000
2020-03-04    10000
2020-03-5     10000
dtype: int64

In [122]:
stock_price_DF_withindex.applymap(lambda x : x+100)

               시가     종가     고가    저가
2020-03-01  10100  11100  13100  3100
2020-03-02  10400  12100  15100  5100
2020-03-03  10000  10100  15100  5100
2020-03-04  10600  13100  18100  8100
2020-03-5   11100  12100  17100  7100

### 예제 4

In [144]:
stock_price_DF_withindex = pd.DataFrame(
    [10000,10300,9900,10500,11000], 
    index=["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withindex.rename(columns={0:"시가"}, inplace=True)
stock_price_DF_withindex["종가"]=[11000,12000,10000,13000,12000]
stock_price_DF_withindex["고가"]=[13000,15000,15000,18000,17000]
stock_price_DF_withindex["저가"]=[3000,5000,5000,8000,7000]
stock_price_DF_withindex

               시가     종가     고가    저가
2020-03-01  10000  11000  13000  3000
2020-03-02  10300  12000  15000  5000
2020-03-03   9900  10000  15000  5000
2020-03-04  10500  13000  18000  8000
2020-03-5   11000  12000  17000  7000

In [145]:
stock_price_DF_withindex["Gap"] = stock_price_DF_withindex.apply(
    lambda x : x.max() - x.min(), axis=1)
stock_price_DF_withindex

               시가     종가     고가    저가    Gap
2020-03-01  10000  11000  13000  3000  10000
2020-03-02  10300  12000  15000  5000  10000
2020-03-03   9900  10000  15000  5000  10000
2020-03-04  10500  13000  18000  8000  10000
2020-03-5   11000  12000  17000  7000  10000

#### 예제 4-1

In [182]:
stock_price_DF_withindex = pd.DataFrame(
    [10000,10300,9900,10500,11000], 
    index=["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])
stock_price_DF_withindex.rename(columns={0:"시가"}, inplace=True)
stock_price_DF_withindex["종가"]=[350,264,264000,13000,12000]
stock_price_DF_withindex["고가"]=[13000,15000,15000,122000,17000]
stock_price_DF_withindex["저가"]=[3000,5000,5000,8000,7000]
stock_price_DF_withindex

               시가      종가      고가    저가
2020-03-01  10000     350   13000  3000
2020-03-02  10300     264   15000  5000
2020-03-03   9900  264000   15000  5000
2020-03-04  10500   13000  122000  8000
2020-03-5   11000   12000   17000  7000

In [170]:
a=[]
for i in range(0,stock_price_DF_withindex.shape[0]):
    a.append(stock_price_DF_withindex.iloc[i,0:4].max()-
             stock_price_DF_withindex.iloc[i,0:4].min())
stock_price_DF_withindex["Gap_forloop"]=a
stock_price_DF_withindex

               시가      종가      고가    저가  Gap_forloop
2020-03-01  10000     350   13000  3000        12650
2020-03-02  10300     264   15000  5000        14736
2020-03-03   9900  264000   15000  5000       259000
2020-03-04  10500   13000  122000  8000       114000
2020-03-5   11000   12000   17000  7000        10000

다른 방법

In [166]:
#  column이 "종가" 인 index를 반환
stock_price_DF_withindex.columns.get_loc("종가")

1

In [212]:
stock_price_DF_withindex["Gap_forloop"]=0

labels=["Gap_forloop"]
labels_idx = [stock_price_DF_withindex.columns.get_loc(i) for i in labels]
# labels_idx => [5] 이므로 오류 발생
# labels_idx[0] => 5  이와 같이 해야 iat[]에서 오류가 발생하지 않는다

cols=["시가","종가","저가","고가"]
cols_idx = [stock_price_DF_withindex.columns.get_loc(i) for i in cols]

for i in range(0,stock_price_DF_withindex.shape[0]):
    temp =stock_price_DF_withindex.iloc[i,cols_idx]
    stock_price_DF_withindex.iat[i,labels_idx[0]] = temp.max() - temp.min()
stock_price_DF_withindex

               시가      종가      고가    저가  Gap_forloop  Gap_forloop2
2020-03-01  10000     350   13000  3000        12650         12650
2020-03-02  10300     264   15000  5000        14736         14736
2020-03-03   9900  264000   15000  5000       259000        259000
2020-03-04  10500   13000  122000  8000       114000        114000
2020-03-5   11000   12000   17000  7000        10000         10000

In [174]:
labels=["시가","고가","종가"]
labels_idx=[stock_price_DF_withindex.columns.get_loc(label) for label in labels]
labels_idx

[0, 2, 1]

In [184]:
stock_price_DF_withindex["Gap_forloop2"]=0
stock_price_DF_withindex

               시가      종가      고가    저가  Gap_forloop  Gap_forloop2
2020-03-01  10000     350   13000  3000        12650             0
2020-03-02  10300     264   15000  5000        14736             0
2020-03-03   9900  264000   15000  5000       259000             0
2020-03-04  10500   13000  122000  8000       114000             0
2020-03-5   11000   12000   17000  7000        10000             0

In [210]:
for i in stock_price_DF_withindex.index:
    temp = stock_price_DF_withindex.loc[i]
    gap = temp.max()-temp.min()
    stock_price_DF_withindex.at[i,"Gap_forloop2"]=gap
stock_price_DF_withindex

               시가      종가      고가    저가  Gap_forloop  Gap_forloop2
2020-03-01  10000     350   13000  3000        12650         12650
2020-03-02  10300     264   15000  5000        14736         14736
2020-03-03   9900  264000   15000  5000       259000        259000
2020-03-04  10500   13000  122000  8000       114000        114000
2020-03-5   11000   12000   17000  7000        10000         10000

In [206]:
labels=["시가","종가","고가","저가"]
a=stock_price_DF_withindex[labels].apply(lambda x : x.mean() ,axis=0)
print(a)
# stock_price_DF_withindex[labels].mean()

print("------------------------")

stock_price_DF_withindex.loc[:,["시가","종가","고가","저가"]].apply(lambda x :x.mean(), axis=0)

시가    10340.0
종가    57922.8
고가    36400.0
저가     5600.0
dtype: float64
------------------------

시가    10340.0
종가    57922.8
고가    36400.0
저가     5600.0
dtype: float64

In [207]:
stock_price_DF_withindex[labels].mean()

시가    10340.0
종가    57922.8
고가    36400.0
저가     5600.0
dtype: float64

In [209]:
stock_price_DF_withindex.loc[:,["시가","종가","고가","저가"]].mean()

시가    10340.0
종가    57922.8
고가    36400.0
저가     5600.0
dtype: float64