# Pandas

In [1]:
# from pandas import Series,DataFrame   # 특정 모듈만 임포트 하는 방법
import pandas as pd
import numpy as np

주가 데이터 만들기

In [5]:
stock_price_list = [1000,10300,9900,10500,11000]
stock_price_list

[1000, 10300, 9900, 10500, 11000]

### Series

In [6]:
# Series는 1차원이지만 2종류의 데이터를 가지고 있음(index, value)
stock_price_Series = pd.Series([1000,10300,9900,10500,11000])
stock_price_Series

0     1000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [10]:
stock_price_Series[0:3]

0     1000
1    10300
2     9900
dtype: int64

In [48]:
# Series에 value와 index 설정
stock_price_Series = pd.Series([10000,10300,9900,10500,11000],
                              index=["2020-03-01","2020-03-02",
                                    "2020-03-03","2020-03-04","2020-03-5"])
stock_price_Series

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [49]:
stock_price_Series["2020-03-03"]

9900

In [50]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object')

In [51]:
stock_price_Series.values

array([10000, 10300,  9900, 10500, 11000], dtype=int64)

In [52]:
for i in range(len(stock_price_Series)):
    print("Index :",stock_price_Series.index[i])
    print("Values :",stock_price_Series.values[i])

Index : 2020-03-01
Values : 10000
Index : 2020-03-02
Values : 10300
Index : 2020-03-03
Values : 9900
Index : 2020-03-04
Values : 10500
Index : 2020-03-5
Values : 11000

In [53]:
for i in stock_price_Series.index:
    print("Index :",i)
    print("Values :",stock_price_Series[i])

Index : 2020-03-01
Values : 10000
Index : 2020-03-02
Values : 10300
Index : 2020-03-03
Values : 9900
Index : 2020-03-04
Values : 10500
Index : 2020-03-5
Values : 11000

In [54]:
#stock_price_list[[1,3]]   # 오류 발생

#stock_price_Series[숫자 1개, 사용자 설정 1개, 슬라이싱, 사용자 설정 슬라이싱] 가능
stock_price_Series[[1,4]]

2020-03-02    10300
2020-03-5     11000
dtype: int64

In [55]:
stock_price_Series[1:3]

2020-03-02    10300
2020-03-03     9900
dtype: int64

In [56]:
#stock_price_list[[1,3]]   # 오류 발생
idx=[1,3,4]
[stock_price_list[i] for i in idx]

[10300, 10500, 11000]

In [57]:
stock_price_Series[[1,3,4]]

2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

가격이 10000원 이상인 값들만 추려보세요

In [60]:
stock_price_Series[stock_price_Series>10000]

2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [62]:
"2020-03-02" in stock_price_Series

True

In [64]:
10300 in stock_price_Series  # 항상 index에서만 찾아보기때문에 false

False

### Series의 처리

In [70]:
sdata ={"APPL":1000,"MS":2000,"AMAZON":3000,"TESLA":5000,"UBER":100}
sdata

{'APPL': 1000, 'MS': 2000, 'AMAZON': 3000, 'TESLA': 5000, 'UBER': 100}

In [71]:
obj3 = pd.Series(sdata)
obj3

APPL      1000
MS        2000
AMAZON    3000
TESLA     5000
UBER       100
dtype: int64

In [76]:
states=["GOOGLE","APPL","AMAZON"]
states

['GOOGLE', 'APPL', 'AMAZON']

In [79]:
obj4=pd.Series(sdata,states)    # states에 해당되는 index만 가져온다
obj4

GOOGLE       NaN
APPL      1000.0
AMAZON    3000.0
dtype: float64

In [82]:
obj3 + obj4   #  주의)사용자도 모르게 갯수가 바뀌기도 한다

AMAZON    6000.0
APPL      2000.0
GOOGLE       NaN
MS           NaN
TESLA        NaN
UBER         NaN
dtype: float64

In [80]:
# pd.isnull() 과 pd.notnull() 의 차이점
pd.isnull(obj3)

APPL      False
MS        False
AMAZON    False
TESLA     False
UBER      False
dtype: bool

In [81]:
pd.notnull(obj3)

APPL      True
MS        True
AMAZON    True
TESLA     True
UBER      True
dtype: bool

In [83]:
pd.isnull(obj4)  # obj4.isnull()

GOOGLE     True
APPL      False
AMAZON    False
dtype: bool

In [84]:
pd.notnull(obj4)  # obj4.notnull()

GOOGLE    False
APPL       True
AMAZON     True
dtype: bool

In [87]:
stock_price_Series.index.name="Stock Price Data"

In [88]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object', name='Stock Price Data')

In [89]:
stock_price_Series

Stock Price Data
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [90]:
stock_price_Series.ndim   # 몇차원 데이터인지

1

In [91]:
stock_price_Series.shape   # 데이터 형태가 어떤지

(5,)

In [92]:
stock_price_Series.size

5

### 속도가 더 빠른 at, iat, loc, iloc 사용

In [98]:
# stock_price_Series[0] 
stock_price_Series.iat[0]

10000

In [99]:
# stock_price_Series["2020-03-01"]
stock_price_Series.at["2020-03-01"]

10000

In [101]:
# stock_price_Series[0:3]
stock_price_Series.iloc[0:3]

Stock Price Data
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [107]:
# stock_price_Series[["2020-03-02","2020-03-03"]]
stock_price_Series.loc[["2020-03-02","2020-03-04"]]

Stock Price Data
2020-03-02    10300
2020-03-04    10500
dtype: int64

In [108]:
# 슬라이싱 사용시 loc에서는 마지막을 포함한다
stock_price_Series.loc["2020-03-02":"2020-03-04"]

Stock Price Data
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
dtype: int64

## Python과 Pandas 비교

### len

In [109]:
# len(stock_price_Series)    # python의 기본
stock_price_Series.count()   # Pandas에서 만든 함수

5

### append

In [113]:
add_data = pd.Series([12345],index=["2020-03-02"])
add_data

2020-03-02    12345
dtype: int64

In [114]:
stock_price_Series.append(add_data)

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
2020-03-02    12345
dtype: int64

In [115]:
stock_price_Series

Stock Price Data
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

Pandas의 Series에 append하면 실제로 추가되지는 않는다 (중복 무시)

In [ ]:
stock_price_Series.append(add_data, verify_integrity=True)
# verify_integrity=True => 중복을 체크한다.

### 수학식

In [116]:
stock_price_Series.max()

11000

In [117]:
stock_price_Series.min()

9900

In [119]:
stock_price_Series.mean()   # 평균

10340.0

In [120]:
stock_price_Series.var()    # 분산도

193000.0

In [122]:
stock_price_Series.std()    # 표준편차

439.31765272977594